.Mypage {
  text-align: center;
}

/* ---------------- HEADER ---------------- */
header {
  background-color: #ffffff;
  color: black;
  text-align: center;

  padding: 20px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  float: left;
  height: 80px;
}

.mypage {
  float: right;
  height: 65px;
  margin: 5px;
}

/* ---------------- SECTION ---------------- */
section {
  background: #f9f9f9;
  text-align: left; /* 텍스트 왼쪽 기준 */
  padding: 40px;
  margin: 100px auto 50px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* 라벨 + 입력창 한 줄 정렬 */

.field label {
  font-size: 20px;
  width: 100px; /* 라벨 너비 고정 → 정렬이 깔끔해짐 */
  text-align: right;
  margin-left: 70px; /* 라벨은 오른쪽 정렬 */
}
.field label[for="stress"] {
  margin-left: 115px;
}

.field input[id="nickname"] {
  width: 180px; /* input 고정 너비 */
  padding: 8px;
  padding-left: 12px;
  padding-right: 16px;
  padding-bottom: 10px;
  font-size: 18px;
  border: 2px solid #000;
  border-radius: 13px;
  margin-left: 10px;
  margin-top: 30px;
}
.field input[id="stress"] {
  width: 55px;
  padding: 8px;
  padding-left: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: 2px solid #000;
  border-radius: 13px;
  margin-left: 10px;
}

/* 숫자 input 너비 조정 */

/* ---------------- SUBMIT BUTTON ---------------- */
section input[id="submit"] {
  display: block;
  margin: 40px auto;

  background-color: #4c84af;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;

  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

section input[type="submit"]:hover {
  background-color: #417094ff;
}
