.toast-wrapper {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 9999;
}

.toast-wrapper.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}


.toast-card {
  min-width: 220px;
  max-width: 320px;
  padding: 10px 16px;
  border-radius: 12px;

  background: rgba(0, 0, 0, 0.8);
  color: #fff;

  font-size: 14px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.toast-title {
  font-weight: 600;
  margin-bottom: 4px;
}

.toast-message {
  font-weight: 400;
}


.toast-actions {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.toast-btn {
  background: white;
  color: black;
  padding: 4px 10px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.toast-btn:hover {
  background: #eee;
}
